/* Importing fonts from Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans&family=Permanent+Marker&display=swap');

/* Removing default margins, paddings and borders */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    /* Fallback Background */
    background-color: yellow;
    background-image: url('../images/cover-body.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
}

li {
    list-style-type: none;
}

#main-container {
    margin: 100px auto;
}

#game-board {
    background-color: yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 40%;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 5%;
}

#rules {
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-rules {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 3rem;
}

.sub-title {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

/* #header {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: end;
} */

.alert-message {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    text-align: center;
    border-radius: 5%;
}

#score-game {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-game {
    display: flex;
    margin-left: 5px;
}

button {
    background-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
}

.score-timer {
    padding: 10px;
}

h4 {
    padding: 2px;
}

footer {
    width: 100%;
    height: 50px;
}

/* Class create on function createBoard */
.card-image {
    margin: 7px;
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;

}

.board-cards {
    background-color: yellow;
    width: 40%;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Media query Section */

/* For sreeen sizes from 4000px wide and down */
@media screen and (max-width:4000px) {

    #game-board {
        width: 70%;
        height: 1600px;

    }

    .title-rules {
        font-size: 7rem;
    }

    .sub-title {
        font-size: 4.5rem;
    }

    body {
        font-size: 3rem;
    }

    #score-game {
        margin-top: 200px;
    }

    #rules {
        padding: 130px;
    }

    button {
        width: 300px;
        height: 110px;
        font-size: 3rem;
    }
}

/* For sreeen sizes from 2560px wide and down */
@media screen and (max-width:2560px) {

    #game-board {
        width: 80%;
        height: 1700px;

    }

    .sub-title {
        font-size: 4rem;
    }

    body {
        font-size: 2.5rem;
    }
}

/* For sreeen sizes from 2000px wide and down */
@media screen and (max-width:2000px) {

    #game-board {
        width: 70%;
        height: 1300px;

    }

    .title-rules {
        font-size: 5.5rem;
    }

    .sub-title {
        font-size: 3.5rem;
    }

    body {
        font-size: 2rem;
    }

    #rules {
        padding: 110px;
    }

    #score-game {
        margin-top: 150px;
    }

    button {
        width: 200px;
        height: 80px;
        font-size: 2rem;
    }
}