/* Importing fonts from Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans&family=Permanent+Marker&display=swap');

/* Removing default margins, paddings and borders */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Style body */

body {
    /* Fallback Background */
    background-color: yellow;
    background-image: url('../images/body-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    margin-top: 7px;
}

h2 {
    font-size: 1rem;
}

.sub-titles {
    font-size: 2rem;
    margin: 20px auto;
}

/* Game Board section */

#game-board {
    background-color: yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 40%;
    height: fit-content;
    margin: 7px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

#rules {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Score game an timer section */

#score-game {
    width: fit-content;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

#count-container {
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
}

#count-container p {
    padding: 5px;
    margin: 0 15px;
}

.score-timer {
    padding: 10px;
}

.btn-game {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px;
}

button {
    background-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    border-radius: 25%;
}

/* Classes to style titles and topics */

.title-rules {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 3rem;
    color: blue;
    animation: bounce 4s;
}

.text-topic {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: blue;
}

/* Win and Game Over message box */

.alert-message {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    text-align: center;
    border-radius: 5%;
    height: fit-content;
}

.btn-message {
    width: fit-content;
    height: fit-content;
    font-size: 0.7rem;
    padding: 15px;
}

/* Footer */

#footer {
    background-color: blue;
    width: 100%;
    margin-top: auto;
    display: flex;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 1px;
    justify-content: center;
    align-items: baseline;
    padding: 5px;
}

footer a {
    color: white;
    margin-left: 20px;
}

/* Class created on function createBoard, style cards of the game */

.card-image {
    cursor: pointer;
}

.card-image:hover {
    border: 2px solid blue;
}

/* Animation Section */

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* Animation to buttons */

.btn-game button {
    transition: transform 0.2s ease-in-out;
}

.btn-game button:hover {
    transform: scale(1.1);
}

/* Media query Section */

/* For sreeen sizes from 4000px wide and down */
@media screen and (max-width:4000px) {

    #game-board {
        width: 55%;
        align-items: center;
    }

    .sub-titles {
        font-size: 3rem;
    }

    .card-image {
        border: 2px solid black;
        width: 100%;
        height: 500px;
    }

    .title-rules {
        font-size: 7rem;
    }

    .text-topic {
        font-size: 4.5rem;
    }

    body {
        font-size: 3rem;
    }

    #rules {
        padding: 100px;
    }

    button {
        width: 300px;
        height: 110px;
        font-size: 3rem;
    }

    .alert-message {
        width: 900px;
        /* height: 500px; */
        top: 20%;
    }

    .btn-message {
        font-size: 2rem;
    }

    .game-over-image img {
        width: 700px;
        height: 250px;
    }
}

/* For sreeen sizes from 3036px wide and down */
@media screen and (max-width: 3036px) {

    #game-board {
        width: 60%;
    }

    .card-image {
        height: 350px;
    }

    .game-over-image img {
        width: 500px;
    }
}

/* For sreeen sizes from 2560px wide and down */
@media screen and (max-width:2560px) {


    .sub-titles {
        font-size: 2rem;
    }

    .text-topic {
        font-size: 4rem;
    }

    body {
        font-size: 2.5rem;
    }

    .alert-message {
        width: 700px;
        /* height: 480px; */
        top: 30%;
    }
}

/* For sreeen sizes from 2150px wide and down */
@media screen and (max-width:2150px) {
    #game-board {
        width: 50%;
    }

    .card-image {
        height: 250px;
        border: 1px solid black;
    }

    #rules {
        padding: 60px;
    }

    .title-rules {
        font-size: 5.6rem;
    }

    .text-topic {
        font-size: 3.7rem;
    }

    body {
        font-size: 2.1rem;
    }

    .game-over-image img {
        width: 400px;

    }

    .btn-message {
        font-size: 1.5rem;
    }
}

/* For sreeen sizes from 2000px wide and down */
@media screen and (max-width:2000px) {

    .card-image {
        height: 200px;
    }

    .title-rules {
        font-size: 5.3rem;
    }

    .text-topic {
        font-size: 3.3rem;
    }

    body {
        font-size: 2rem;
    }

    button {
        width: 200px;
        height: 80px;
        font-size: 2rem;
    }

    .alert-message {
        width: 500px;
        top: 25%;
    }

    .game-over-image img {
        width: 300px;
        height: 170px;
    }
}

/* For sreeen sizes from 1600px wide and down */
@media screen and (max-width:1600px) {

    #game-board {
        width: 70%;
    }

    #rules {
        padding: 20px;
    }

    .card-image {
        height: 220px;
    }

    .title-rules {
        font-size: 4.7rem;
    }

    .text-topic {
        font-size: 3rem;
    }

    body {
        font-size: 1.6rem;
    }

    button {
        width: 180px;
        height: 60px;
        font-size: 1.2rem;
    }

    .alert-message {
        width: 400px;
        /* height: 400px */
    }

    .btn-message {
        font-size: 1.3rem;
    }

    .sub-titles {
        font-size: 1.5rem;
    }
}

/* For sreeen sizes from 1440px wide and down */
@media screen and (max-width:1440px) {

    #game-board {
        width: 50%;
        padding: 30px;
    }

    .card-image {
        height: 150px;
    }

    .title-rules {
        font-size: 3.4rem;
    }

    .text-topic {
        font-size: 2.3rem;
    }

    body {
        font-size: 1.3rem;
    }

    button {
        width: 160px;
        height: 50px;
        font-size: 1.2rem;
    }

    .alert-message {
        width: 350px;
        /* height: 350px; */
        padding: 15px;
    }

    .btn-message {
        font-size: 1rem;
        padding: 7px;
    }

    .game-over-image img {
        width: 250px;
        height: 150px;
    }
}

/* For sreeen sizes from 1200px wide and down */
@media screen and (max-width:1200px) {

    .card-image {
        height: 130px;
    }

    .title-rules {
        font-size: 3rem;
    }

    .text-topic {
        font-size: 2.1rem;
    }

    body {
        font-size: 1.1rem;
    }

    .alert-message {
        width: 300px;
        /* height: 300px; */
        top: 35%;
    }

    .btn-message {
        font-size: 0.7rem;
    }

    .game-over-image img {
        width: 200px;
        height: 140px;
    }

    .sub-titles {
        font-size: 1rem;
    }
}

/* For sreeen sizes from 1024px wide and down */
@media screen and (max-width:1024px) {

    #game-board {
        width: 60%;
        padding: 10px;
    }

    #rules {
        padding: 30px;
    }

    .card-image {
        height: 130px;
    }

    .title-rules {
        font-size: 3rem;
    }

    .text-topic {
        font-size: 1.8rem;
    }

    body {
        font-size: 1rem;
    }

    button {
        width: 140px;
        height: 40px;
        font-size: 1.1rem;
    }
}

/* For sreeen sizes from 768px wide and down */
@media screen and (max-width:768px) {

    #game-board {
        width: 90%;
    }

    .card-image {
        height: 130px;
    }

    .title-rules {
        font-size: 3rem;
    }

    .text-topic {
        font-size: 1.6rem;
    }

    body {
        font-size: 0.8rem;
    }

    button {
        width: 130px;
        height: 40px;
        font-size: 1.1rem;
    }
}

/* For sreeen sizes from 560px wide and down */
@media screen and (max-width:560px) {

    #game-board {
        width: 95%;
    }

    .title-rules {
        font-size: 2.7rem;
    }

    .card-image {
        height: 100px;
    }

    .alert-message {
        /* height: 270px; */
        top: 30%;
    }
}

/* For sreeen sizes from 425px wide and down */
@media screen and (max-width:425px) {

    #game-board {
        width: 90%;
    }

    #rules {
        padding: 20px;
    }

    .title-rules {
        font-size: 1.7rem;
    }

    .text-topic {
        font-size: 1.5rem;
    }

    body {
        font-size: 0.8rem;
    }

    button {
        width: 100px;
        height: 35px;
        font-size: 0.9rem;
    }

    #count-container {
        padding: 0;
    }
}

/* For sreeen sizes from 390px wide and down */
@media screen and (max-width:390px) {

    #game-board {
        width: 90%;
    }

    .card-image {
        height: 80px;
    }

    .title-rules {
        font-size: 1.6rem;
    }

    .text-topic {
        font-size: 1.3rem;
    }

    body {
        font-size: 0.7rem;
    }
}

/* For sreeen sizes from 375px wide and down */
@media screen and (max-width:375px) {

    #game-board {
        width: 98%;
    }

    .card-image {
        height: 80px;
    }

    .title-rules {
        font-size: 1.5rem;
    }

    .text-topic {
        font-size: 1.2rem;
    }

    body {
        font-size: 0.65rem;
    }

    button {
        width: 70px;
        height: 30px;
        font-size: 0.7rem;
    }

    .game-over-image img {
        width: 200px;
        height: 140px;
    }

    #game-over-message p {
        font-size: 1rem;
    }
}

/* For sreeen sizes from 320px wide and down */
@media screen and (max-width:320px) {

    #game-board {
        width: 99%;
    }

    #rules {
        padding: 12px;
    }

    .card-image {
        height: 80px;
    }

    .alert-message {
        width: 200px;
        /* height: 220px; */
        padding-top: 30px;
    }

    .btn-message {
        font-size: 0.6rem;
        padding: 4px;
    }

    .congrats-image img {
        width: 160px;
        height: 100px;
    }

    .game-over-image img {
        width: 150px;
        height: 80px;
    }

    #footer {
        font-size: 0.6rem;
        letter-spacing: 0;
    }
}

/* For sreeen sizes from 292px wide and down */
@media screen and (max-width:292px) {

    .card-image {
        height: 75px;
    }
}


/* For sreeen sizes from 280px wide and down */
@media screen and (max-width:280px) {

    #game-board {
        width: 98%;
    }

    .card-image {
        height: 70px;
    }

    .title-rules {
        font-size: 1.2rem;
    }

    .text-topic {
        font-size: 1rem;
    }

    body {
        font-size: 0.62rem;
    }

    button {
        width: 60px;
        height: 20px;
        font-size: 0.6rem;
    }

    .alert-message {
        width: 180px;
        /* height: 230px; */
        padding-top: 30px;
        top: 30%;
        left: 50%;
    }

    .btn-message {
        font-size: 0.5rem;
    }

    .congrats-image img {
        width: 100px;
        height: 60px;
    }
}

/* For sreeen sizes from 250px wide and down */
@media screen and (max-width:265px) {

    .card-image {
        height: 65px;
    }
}

/* For sreeen sizes from 250px wide and down */
@media screen and (max-width:250px) {

    .card-image {
        height: 50px;
    }

    .alert-message {
        top: 25%;
    }
}

/* For sreeen sizes from 204px wide and down */
@media screen and (max-width:204px) {

    .card-image {
        height: 40px;
    }

    .alert-message {
        top: 20%;
        left: 45%;
    }
}