/* Importing fonts from Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans&family=Permanent+Marker&display=swap');

/* Removing default margins, paddings and borders */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    /* Fallback Background */
    background-color: yellow;
    background-image: url('../images/cover-body.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
}

li {
    list-style-type: none;
}

#main-container {
    margin: 100px auto;
}

#game-board {
    background-color: yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 40%;
    /* min-height: 600px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 5%;
}

#rules {
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-rules {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 3rem;
}

.sub-title {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

/* #header {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: end;
} */


.alert-message {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    text-align: center;
    border-radius: 5%;
}

#score-game {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-game {
    display: flex;
    margin-left: 5px;
}

button {
    background-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
}

.score-timer {
    padding: 10px;
}

h4 {
    padding: 2px;
}

footer {
    width: 100%;
    height: 50px;
}

/* Class create on function createBoard */
.card-image {
    margin: 7px;
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.board-cards {
    background-color: yellow;
    width: 40%;
    /* min-height: 600px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Media query Section */

/* For sreeen sizes from 4000px wide and down */
@media screen and (max-width:4000px) {

    #game-board {
        width: 60%;
        height: 1600px;
        align-items: center;
    }

    .card-image {
        border: 2px solid black;
        width: 100%;
        height: 500px;
    }

    .title-rules {
        font-size: 7rem;
    }

    .sub-title {
        font-size: 4.5rem;
    }

    body {
        font-size: 3rem;
    }

    #score-game {
        margin-top: 200px;
    }

    #rules {
        padding: 130px;
    }

    button {
        width: 300px;
        height: 110px;
        font-size: 3rem;
    }

    .alert-message {
        width: 900px;
        height: 400px
    }
}

/* For sreeen sizes from 2560px wide and down */
@media screen and (max-width:2560px) {

    #game-board {
        width: 53%;
        height: 1800px;

    }

    .card-image {
        height: 400px;
    }

    .sub-title {
        font-size: 4rem;
    }

    body {
        font-size: 2.5rem;
    }

    .alert-message {
        width: 700px;
        height: 350px
    }
}

/* For sreeen sizes from 2000px wide and down */
@media screen and (max-width:2000px) {

    #game-board {
        width: 70%;
        height: 1000px;
    }

    .card-image {
        height: 300px;
    }

    .title-rules {
        font-size: 5.5rem;
    }

    .sub-title {
        font-size: 3.5rem;
    }

    body {
        font-size: 2rem;
    }

    #rules {
        padding: 50px;
    }

    #score-game {
        margin-top: 150px;
    }

    button {
        width: 200px;
        height: 80px;
        font-size: 2rem;
    }

    .alert-message {
        width: 500px;
        height: 300px
    }
}

/* For sreeen sizes from 1600px wide and down */
@media screen and (max-width:1600px) {

    #game-board {
        width: 70%;
        height: 840px;
    }

    #rules {
        padding 30px;
    }

    .card-image {
        height: 250px;
    }

    .title-rules {
        font-size: 4.7rem;
    }

    .sub-title {
        font-size: 3rem;
    }

    body {
        font-size: 1.6rem;
    }

    #score-game {
        margin-top: 80px;
    }

    button {
        width: 180px;
        height: 60px;
        font-size: 1.2rem;
    }

    .alert-message {
        width: 400px;
        height: 270px
    }
}

/* For sreeen sizes from 1440px wide and down */
@media screen and (max-width:1440px) {

    #game-board {
        width: 65%;
        height: 700px;
    }

    .card-image {
        height: 200px;
    }

    #rules {
        padding: 35px;
    }

    .title-rules {
        font-size: 4rem;
    }

    .sub-title {
        font-size: 2.5rem;
    }

    body {
        font-size: 1.3rem;
    }

    #score-game {
        margin-top: 80px;
    }

    button {
        width: 160px;
        height: 50px;
        font-size: 1.2rem;
    }

    .alert-message {
        width: 350px;
        height: 240px
    }
}

/* For sreeen sizes from 1200px wide and down */
@media screen and (max-width:1200px) {

    #game-board {
        height: 700px;
        width: 80%;
    }

    .card-image {
        height: 200px;
        border: 1px solid black;
    }

    .alert-message {
        width: 300px;
        height: 220px
    }
}

/* For sreeen sizes from 1024px wide and down */
@media screen and (max-width:1024px) {

    #game-board {
        width: 80%;
        height: 600px;
    }

    .card-image {
        height: 170px;
    }

    .title-rules {
        font-size: 3.5rem;
    }

    .sub-title {
        font-size: 2.2rem;
    }

    body {
        font-size: 1rem;
    }

    #score-game {
        margin-top: 70px;
    }

    button {
        width: 140px;
        height: 40px;
        font-size: 1.1rem;
    }

    .alert-message {
        width: 250px;
        height: 220px;
    }
}

/* For sreeen sizes from 768px wide and down */
@media screen and (max-width:768px) {

    #game-board {
        width: 90%;
        height: 500px;
    }

    .card-image {
        height: 140px;
    }

    #rules {
        padding: 30px;
    }

    .title-rules {
        font-size: 3.3rem;
    }

    .sub-title {
        font-size: 2rem;
    }

    body {
        font-size: 0.9rem;
    }

    #score-game {
        margin-top: 20px;
    }

    button {
        width: 130px;
        height: 40px;
        font-size: 1.1rem;
    }

    .alert-message {
        width: 200px;
        height: 320px;
    }
}

/* For sreeen sizes from 425px wide and down */
@media screen and (max-width:425px) {

    #game-board {
        height: 500px;
        width: 95%;
    }

    .card-image {
        height: 100px;
    }

    .title-rules {
        font-size: 1.7rem;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    body {
        font-size: 0.8rem;
    }

    #score-game {
        margin-top: 15px;
    }

    button {
        width: 100px;
        height: 35px;
        font-size: 0.9rem;
    }
}

/* For sreeen sizes from 390px wide and down */
@media screen and (max-width:390px) {

    #game-board {
        width: 90%;
        height: 430px;
    }

    .card-image {
        height: 80px;
    }

    .title-rules {
        font-size: 1.6rem;
    }

    .sub-title {
        font-size: 1.3rem;
    }

    body {
        font-size: 0.7rem;
    }

    #rules {
        padding: 20px;
    }

    .alert-message {
        width: 200px;
        height: 260px;
    }
}

/* For sreeen sizes from 375px wide and down */
@media screen and (max-width:375px) {

    #game-board {
        width: 90%;
        height: 420px;
    }

    .card-image {
        height: 80px;
    }

    .title-rules {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 1.2rem;
    }

    body {
        font-size: 0.65rem;
    }

    #rules {
        padding: 15px;
    }

    #score-game {
        margin-top: 10px;
    }

    button {
        width: 70px;
        height: 30px;
        font-size: 0.7rem;
    }
}

/* For sreeen sizes from 320px wide and down */
@media screen and (max-width:320px) {

    #game-board {
        width: 95%;
        height: 400px;
    }

    .card-image {
        height: 70px;
    }
}

/* For sreeen sizes from 280px wide */
@media screen and (max-width:280px) {

    #game-board {
        width: 97%;
        height: 350px;
    }

    .card-image {
        height: 60px;
    }

    .title-rules {
        font-size: 1.2rem;
    }

    .sub-title {
        font-size: 1rem;
    }

    body {
        font-size: 0.62rem;
    }

    #rules {
        padding: 12px;
    }

    #score-game {
        margin-top: 5px;
    }

    button {
        width: 60px;
        height: 20px;
        font-size: 0.6rem;
    }

    .alert-message {
        width: 200px;
        height: 220px;
    }
}